<!-- 
===========================================
#  auther: RITESH SINGH                   #
#  User Module router controller service  #
#                                         #
===========================================
 -->
<div th:fragment="title">
	<title>Template</title>
</div>

<div th:fragment="angulerMvc">
	
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/homeApp.js}"
		src="/resources/angular-mvc/js/homeApp.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/homeService.js}"
		src="/resources/angular-mvc/js/service/homeService.js"></script>	
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/controller/homeController.js}"
		src="/resources/angular-mvc/js/controller/homeController.js"></script>
		
	<script type="text/javascript"
		th:src="@{/resources/angular-mvc/js/service/authService.js}"
		src="/resources/angular-mvc/js/service/authService.js"></script>		
</div>
