<!DOCTYPE html>
<html lang="en">
    <head th:replace="component :: materialDashBoardCss"></head>
	<body>
		<div class="wrapper">
		
			<div th:replace="component :: materialDashBoardSideNav"></div>
		
		    <div class="main-panel">
				
				<nav th:replace="component :: materialDashBoardHeadNav" ></nav>
		
				<div class="content">
				<!-- Body Content Row -->
					<div th:replace="${data.path} :: ${data.fragment}">
						
					</div>
				</div>
				<footer th:replace="component :: materialDashBoardFooter" ></footer>
			</div>
		</div>
	</body>
	<div th:replace="component :: materialJs"></div>
</html>